body {
    margin: 0;
    font-size: 22px;
    background-color: blanchedalmond;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.header {
padding: 10px 0;
background-color: rgb(221, 103, 82);;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-img {
    width: 120px;
}
.header-list {
    display: flex;
    gap: 40px;
    color: white;
}
.header-link {
    color: white;
    font-weight: 700;
    font-size: 24px;
}
.header-link:hover {
    color: blanchedalmond;
}
.hero {
    padding: 50px 0;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-img {
    width: 550px;
    padding-right: 50px;
}
.hero-title {
    font-size: 40px;
    color: rgb(113, 27, 12) ;
}
.dough {
    padding: 50px 0;
    background-color: rgb(255,167,123);
}
.dough-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dough-title {
    color: rgb(113, 27, 12);
}
.dough-list {
    list-style: disc;
    margin-left: 50px;
}
.dough-img {
    width: 550px;
    padding-left: 50px;
}
.filling {
    padding: 50px 0;
}
.filling-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.filling-img {
    width: 550px;
    padding-right: 50px;
}
.filling-title {
    color: rgb(113, 27, 12) ;
}
.filling-list {
    list-style: disc;
    margin-left: 50px;
}

.footer {
padding: 10px 0;
background-color: rgb(221, 103, 82);
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img {
    width: 120px;
}
.footer-text {
    color: white;
    margin-right: 30px;
}